---
---

@import 'jekyll-theme-cayman';

div {
  text-align: justify;
  text-justify: inter-word;
}

#more {display: none;}

* {
  box-sizing: border-box;
}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;
  max-width: 2500px; /* Adjust the max-width as needed */
  margin: 20px auto; /* Center the container horizontally with a margin */
}

/* Make the image responsive */
.image {
  display: block;
  width: 100%;
  height: auto; /* Allow the image to maintain its aspect ratio */
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Indentation for the overlay text */
.overlay h2,
.overlay p {
  margin: 0 20px; /* Adjust the indentation as needed */
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}

/* Image grid styles */
.image-grid {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: space-between; /* Distribute items evenly with space between columns */
  max-width: 800px; /* Adjust the max-width as needed */
  margin: 20px auto; /* Center the container horizontally with a margin */
}

/* Individual image containers */
.image-container {
  width: 48%; /* Set the width to leave some space between columns */
  margin-bottom: 20px; /* Add margin to create space between rows */
}



